.navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(100, 77, 215);
    height: 60px;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 800;
    font-size:25px
}

.navButton {
    cursor: pointer;
    border: none;
    margin : 20px;
    padding: 5px 10px;
    color: rgb(100, 77, 215);
    background-color:white;
    font-size:15px;
    text-decoration: none;
}